*{
   
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    min-width: 100vh;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0rem;
}

.upper{
    background: #FFCD9E;
    height: 592px;
    width: 1440px;
    display: flex;
  
}

.img{ 
    text-align:center;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 50%;
    display: flex;
}

.upper .text{
    height: 100%;
    width: 50%;
    margin: auto;
    letter-spacing: 0em;
    text-align: left;
    position: relative; 
    display: flex;  
    font-weight: bold;
    }
.ltext{
    width: 95%;
    top: 45%;
    left: 65%;
    transform: translate(-50%,-50%);
    position: absolute;
} 

h2{
    
    font-size: 36px;
    font-weight: 700;
    line-height: 54px; 
    color: #282828; 
    width: 80%;
}

p{
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    color: #484848;
    width: 70%;
}
h3{
    
    font-size: 20px;
    font-weight: 800;
    line-height: 32px;
    font-weight: 700;
    color: #282828;
}
#white{
    color: #FFFFFF;
    font-weight: lighter;
    font-size: medium;
    margin-left: 2rem;
}
#email{
    border: 4px solid #000000;
    width: 33vh;
    height: 6vh;
    margin-right: 1rem;
    margin-top: 1rem;
    border-radius: 8px;
    padding: 5px;
}

::placeholder{
    font-weight: bold;
    color: #888888;
}

#button{
   background-color: #282828;
   color: #FFFFFF;
   height: 6vh;
   width: 21vh;
   border-radius: 8px;
   padding: 5px;
   
}

.bottom{
    display: flex;
    background: #282828;
    color:#FFFFFF;
    width: 1440px;
    height: 298px;
    top: 592px;
    flex-wrap: wrap;
    
}
.left{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    width: 50%;
    
}
.right{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: right;
    width: 50%;
}
li{
    list-style: none;
    font-size: 1.25rem;
    font-weight: lighter;
    display: flex;
    margin: 0.3em;
    font-weight: 100;
}